<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NHL STREAMS</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div id="loading"><h2>Downloading data.. <span class="glyphicon glyphicon-cloud-download"></span></h2></div>
    <div id="games">
        <table id="rivit" style="width:50%;" class="table table-condensed table-bordered table-hover">
            <thead><tr>
                <th>DATE</th>
                <th>GAME</th>
                <th>SCORE</th>
                <th>ID</th>
                <th>LINK</th>
            </tr></thead>

            <tbody>
            <tr></tr>
           </tbody>
        </table>
    </div>


    <script>
    $.getJSON("/scores", function(json) {
        var gamesJson = json;

        $.each(gamesJson.games, function (index, value) {
            var year    = (value.id).toString().substring(0, 4);
            var season  = (value.id).toString().substring(4, 6);
            var game    = (value.id).toString().substring(6, 10);

            // To get the links which is now disabled
            // $.getJSON('/gameurl/'+year+'/'+season+'/'+game+'/', function(urls) {
            //  console.log(urls);
                var gameTime = moment(value.longStartTime);
                var now = moment();
                var diff = now.diff(gameTime, 'days');

            // if-block adjusts how old games will be shown (0 = only today and future, now that it is commented shows everything)

            //if(diff == 0) {
                var gameDate = moment(value.longStartTime).add(7, 'hours').format('MMMM Do YYYY, HH:mm a');
                $('#rivit tr:last').after('<tr><td>' + gameDate + '</td><td>' + value.homeTeamName + ' - ' + value.awayTeamName + '</td><td>' + value.homeTeamScore + ' - ' + value.awayTeamScore + '</td><td>' + value.id + '</td><td>-</td></tr>');
            //}

        });
        $('#loading').html('<h2>Downloaded 100% <span class="glyphicon glyphicon-ok"></span></h2>');
    });
    </script>

</div>
</body>
</html>