doctype html
html
head
  meta(charset="UTF-8")
  title NHL STREAMS
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
body
 block content
